<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/styles.css" type="text/css">
    <title>Dashboard</title>
</head>

<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Ledger</a></li>
            <li><a href="#">Deposits</a></li>
            <li><a href="#">Inventary</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Register</a></li>
            <div class="right-menu">
                <li class="dropdown-menu"><a href="#" class="dropdown-btn">Login
                        <img src="../Static/images/icon-arrow-down.svg" alt="downarrow"></a>
                    <div class="dropdown-content">
                        <form action="/">
                            <div>
                                <label for="fname">Username:</label>
                                <input type="text" placeholder="Enter username" maxlength="20">
                            </div>
                            <div>
                                <label for="password">Password:</label>
                                <input type="password" placeholder="Enter password" maxlength="15">
                            </div>
                        </form>
                        <a href="#" class="btn">Login</a>
                        <span>Forget password?<a href="#">here</a></span>
                    </div>
                </li>
            </div>
        </ul>
    </nav>

    <!--    Hero Content-->
    <section class="container">
        <div class="info-bx">
            <h2>10</h2>
            <div class="text-bx">
                <p>New Employee</p>
            </div>
        </div>
        <div class="info-bx">
            <h2>10000$</h2>
            <div class="text-bx">
                <p>Deposits</p>
            </div>
        </div>
        <div class="info-bx">
            <h2>500</h2>
            <div class="text-bx">
                <p>New Entries</p>
            </div>
        </div>
        <div class="info-bx">
            <h2>20</h2>
            <div class="text-bx">
                <p>New Reports</p>
            </div>
        </div>
        <h2 class="details">Product Details:</h2>
        <table>
            <tr>
                <th>Products</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Catagory</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Trimmer</td>
                <td>20$</td>
                <td>50</td>
                <td>Electronics</td>
                <td>New arrivals</td>
            </tr>
            <tr>
                <td>Android tv box</td>
                <td>140$</td>
                <td>15</td>
                <td>Electronics</td>
                <td>New arrivals</td>
            </tr>
            <tr>
                <td>Vivo Y12s</td>
                <td>120$</td>
                <td>10</td>
                <td>Electronics</td>
                <td>Old Stock</td>
            </tr>
            <tr>
                <td>Juice Mixer</td>
                <td>90$</td>
                <td>30</td>
                <td>Electronics</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>Wall Watch</td>
                <td>10$</td>
                <td>90</td>
                <td>Electronics</td>
                <td>New arrivals</td>
            </tr>
            <tr>
                <td>Wallpapers</td>
                <td>25$</td>
                <td>500</td>
                <td>Electronics</td>
                <td>Sold</td>
            </tr>
        </table>
        <div class="action-btn">
            <a href="#">Add</a>
            <a href="#">Modify</a>
            <a href="#">Delete</a>
            <a href="#">Print</a>
        </div>
    </section>
</body>

</html>